.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.service-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: transparent;
  color: black;
  cursor: pointer;
  font-size: 20px;
  transition: color 0.3s;
  border: none;
}

.service-button:hover {
  color: #B0B5B3;
}

.service-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.body {
  padding-top: 5%;
  padding-bottom: 14%;
}

.feherter {
  padding: 2%;
}