.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Középre helyezi a gyermekeket függőlegesen */
  padding: 0 320px;
  transition: background-color 0.3s, opacity 0.3s;
  z-index: 1000;
  background-color: transparent;
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo img {
  height: 60px;
}

nav {
  display: flex;
  justify-content: center;
  height: 100%;
}

.login-button {
  background-color: #dbdbdb;
  color: black;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center; /* Középre igazítja a tartalmat a gombban */
}

.login-button:hover {
  background-color: #B0B5B3;
}

.header.header--scroll {
  background-color: white;
}
