body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  flex: 1;
}

.container {
  padding-left: 320px;
  padding-right: 320px;
  padding-top: 100px; /* Header miatt */
  padding-bottom: 80px; /* Footer miatt */
  max-width: 1600px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.asd {
  padding-top: 5%;
  padding-bottom: 14%;
}